@model DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.all-tickets-by-status').DataTable();
            $('.all-projects').DataTable();
        });
    </script>
}

<h2>Dashboard</h2>

<h2>Projects</h2>

<table class="all-projects">
    <thead>
        <tr>
            <th>Projects</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.TotalProjects</td>            
        </tr>
    <tbody>
</table>

<h2>Tickets</h2>

@foreach (var ticket in Model.AllTickets)
{
    <table class="all-tickets-by-status">
        <thead>
            <tr>
                <th>Open</th>
                <th>Resolved</th>
                <th>Rejected</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.AllTickets.Where(r => r.TicketStatus == "Open").Count()</td>
                <td>@Model.AllTickets.Where(r => r.TicketStatus == "Resolved").Count()</td>
                <td>@Model.AllTickets.Where(r => r.TicketStatus == "Rejected").Count()</td>
            </tr>
        </tbody>
    </table>
}
