@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bug Tracker App</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="lead">This is a bug tracker app under construction. To view its current functionalities,</p>
        <h2>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</h2>
    }
    else
    {
        <p>Welcome! Feel free to browse and test the sites functionalities</p>
    }
</div>